@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to SalesWeb CRUD application!</h1>
    <h2 class="display-5 mb-5">Check out my other projects on <a href="https://github.com/gabrielmoraes-br">GitHub</a>.</h2>

    <p class="display-7">That's an ASP.NET MVC project develop to learn about CRUD actions.</p>
</div>
